doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='css/style.min.css')
    title Kelnik
  body.index
    header
      .container-fluid
        .brand
          img( alt='' src='images/logo.png')
        .navbar
          ul
            li.close
            li
              a(href='') Объекты
            li
              a(href='') Компания
            li
              a(href='') Как купить
            li
              a(href='') Агентам
            li
              a(href='') Регионам
            li
              a(href='') Акции
            li
              a(href='') Контакты
          .mob-menu-btn
           .line
           .line
           .line
        .phone
          a(href="tel:8888888898") 8 888 88 88 98
          div Звони скорее!
    main
      .container
        .row
          h1 Найдено 777 квартир
      .container.content
        .col-12
          | Сортировать по: 
          .price-btn.sort#price Цене
          .room-btn.sort#room Комнатам
        #content.row
          .col-4.mix( data-price='1900', data-name='028')
           .item
              .item-header
               .action
               .star.star-full
              .item-top
                img( alt='' src='images/1.png')
              .item-mid
               h4 Студия №44
               .size
                ul.p-0.d-flex
                 li без
                  br 
                  | отделки
                 li
                  span 28м
                   sup 2   
                  | площадь
                 li 
                  span 12/14
                  | этаж
              .item-price 1 900 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='1666', data-name='166')
           .item.color2
              .item-header
               .action
               .star.star-empty
              .item-top
                img( alt='' src='images/2.png')
              .item-mid
               h4 Однокомнатная №666
               .size
                ul.p-0.d-flex
                 li базовая
                  br 
                  | отделка
                 li
                  span 66м
                   sup 2   
                  | площадь
                 li 
                  span 6/6
                  | этаж
              .item-price 1 666 666 руб.
              .item-bot Свободно
          .col-4.mix( data-price='5900', data-name='265')
           .item.color3
              .item-header
               .action
               .star.star-full
              .item-top
                img( alt='' src='images/3.png')
              .item-mid
               h4 Двухкомнатная №567
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 65,6м
                   sup 2   
                  | площадь
                 li 
                  span 7/14
                  | этаж
              .item-price 5 900 000 руб.
              .item-bot Продано
          .col-4.mix( data-price='12900', data-name='356')
           .item
              .item-header
               .action
               .star.star-empty
              .item-top
                img( alt='' src='images/4.png')
              .item-mid
               h4 Трехкомнатная №45
               .size
                ul.p-0.d-flex
                 li без
                  br 
                  | отделки
                 li
                  span 56м
                   sup 2   
                  | площадь
                 li 
                  span 1/14
                  | этаж
              .item-price 12 900 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='1900', data-name='018')
           .item
              .item-header
               .action
                span -17%
                span шок цена!
               .star.star-full
              .item-top
                img( alt='' src='images/5.png')
              .item-mid
               h4 Студия  №25
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 18м
                   sup 2   
                  | площадь
                 li 
                  span 12/14
                  | этаж
              .item-price 1 900 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='23900', data-name='498')
           .item
              .item-header
               .action
                span -6%
               .star.star-empty
              .item-top
                img( alt='' src='images/6.png')
              .item-mid
               h4 Четырехкомнатная   №259
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 98м
                   sup 2   
                  | площадь
                 li 
                  span 14/14
                  | этаж
              .item-price 23 900 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='5666', data-name='136')
           .item.color2
              .item-header
               .action
               .star.star-empty
              .item-top
                img( alt='' src='images/7.png')
              .item-mid
               h4 Однокомнатная  №56
               .size
                ul.p-0.d-flex
                 li без
                  br 
                  | отделки
                 li
                  span 36м
                   sup 2   
                  | площадь
                 li 
                  span 3/6
                  | этаж
              .item-price 5 666 666  руб.
              .item-bot Свободно
          .col-4.mix( data-price='5696', data-name='386')
           .item.color2
              .item-header
               .action
               .star.star-empty
              .item-top
                img( alt='' src='images/8.png')
              .item-mid
               h4 Трехкомнтаная  №46
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 86м
                   sup 2   
                  | площадь
                 li 
                  span 1/6
                  | этаж
              .item-price 5 696 664  руб.
              .item-bot Свободно
          .col-4.mix( data-price='1200', data-name='118')
           .item
              .item-header
               .action
                span -9%
                span шок цена!
               .star.star-empty
              .item-top
                img( alt='' src='images/9.png')
              .item-mid
               h4 Однокомнатная №2
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 18м
                   sup 2   
                  | площадь
                 li 
                  span 3/14
                  | этаж
              .item-price 1 200 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='1500', data-name='038')
           .item
              .item-header
               .action
                span -6%
               .star.star-empty
              .item-top
                img( alt='' src='images/10.png')
              .item-mid
               h4 Студия №12
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 38м
                   sup 2   
                  | площадь
                 li 
                  span 6/14
                  | этаж
              .item-price 1 500 500 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='6200', data-name='148')
           .item
              .item-header
               .action
               .star.star-empty
              .item-top
                img( alt='' src='images/11.png')
              .item-mid
               h4 Однокомнатная №8
               .size
                ul.p-0.d-flex
                 li черновая
                  br 
                  | отделка
                 li
                  span 48м
                   sup 2   
                  | площадь
                 li 
                  span 3/14
                  | этаж
              .item-price 6 200 000 руб.
              .item-bot Забронировано
          .col-4.mix( data-price='5255', data-name='248')
           .item
              .item-header
               .action
                span -6%
               .star.star-empty
              .item-top
                img( alt='' src='images/12.png')
              .item-mid
               h4 Двухкомнатная №23
               .size
                ul.p-0.d-flex
                 li базовая
                  br 
                  | отделка
                 li
                  span 48м
                   sup 2   
                  | площадь
                 li 
                  span 3/14
                  | этаж
              .item-price 5 255 006 руб.
              .item-bot Забронировано  
        #results_ajax.row.hide  
        button#show_more показать еще 20
    #upbutton
    footer
      .container
        .row
          .col-5
            p Успей купить!
            p Подпишись и успей словить все акции
          .col-7
            form
             .row
              .col-6
               label(for='mail')
               input#mail(type='email', name='mail', placeholder='E-mail', required='required')
               .check
                input(type="checkbox" id="check" name="check" checked="checked")
                label(for="check")
                span подписаться на новости            
              .col-6
               input#submit(type='submit', name='submit', value='Подписаться' )
          
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/app.js')
      
    